* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 450px;
}

.profile-box {
  background: #132f3b;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.profile-box h2 {
  color: #00e6e6;
  margin-bottom: 25px;
}

.profile-box input,
.profile-box select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #00e6e6;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #00b3b3;
}
